body{
    background-color: #1F2937;
    
}
header{
    position: relative;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}
.header-part
{
    padding: 5px;
    flex: 1 1 auto;
}
.landing-title{
    font-family: 'Times New Roman', Times, serif;
    color: #f9faf8;
    font-size: 24px;
    }
nav{
    text-align: right;
    
}
.ol-item{ 
    position:relative;
    list-style: none;
    display: inline;
    padding-left: 15px;
    color: #ffff;
    
}

a
{
    color: #f9faf8;
}

#main-section
{
    color: #ffff;
    position: relative;
    display: flex;
    margin-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
}
#intro-h
{
    font-size: 48px;
    font-weight: extra bold;
    color: #f9faf8;

}

#intro-p
{
    font-size: 18px;
    color: #e5e7eb;
}

.self-intro{
    text-align:left;
    flex: 1 auto;
}

#go-down{
    background-color: #3882F6;
    border: 5px;
    border-radius: 50px;
    width: 100px;
    height: 25px;
    color: #f9faf8;
    
}
.intro-logo{
    width: 250px;
    height:250px;
    flex:  1 auto;
}
hr{ position:relative;
margin-top: 150px; }

#photo-section{
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    background-color: #ffff;
    color: #1f2937;
    display: flex;
    
}

.photo-h{
    font-size: 36px;
    font-weight: extra bold;
    text-align: center;
}

.photo-random{
    display: contents;
    border: 5px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    flex: 1 auto;
}
